
 <div id="banner" class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>Learncoderate<small>&nbsp;Find the coding resource you need!</small></h1>
    </div>
  </div>
 </div>

 <div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="row list-group">
      
      <div class="col-xs-12 list-group-item">
        <h4>
          <a href="https://www.python.org/about/gettingstarted/" target="blank">Python Intro</a>
          <small>&nbsp;
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </small>
          <span class="badge pull-right badge-default">100 votes</span>
        </h4>
        <p>This article will help you undestrand the basics of python ..</p>
      </div>
      
      <div class="col-xs-12 list-group-item">
        <h4>
          <a href="https://www.python.org/about/gettingstarted/" target="blank">Python Multi-Threading</a>
          <small>&nbsp;
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </small>
          <span class="badge pull-right badge-default">50 votes</span>
        </h4>
        <p> Advanced material if you want to play with multi threading and such ..</p>
      </div>
    </div>
  </div>
  <div class="col-sx-12 col-sm-4">
    <p class="lead">Looking for a great coding resource? Learncoderate is the right place to find the good stuff!</p>
  </div>
 </div>


